@use "../abstracts" as a;

/* globals */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: a.$body-bg;
  color: #fff;
}
a {
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

img {
  width: 100%;
}

video {
  width: 100%;
}
