/* globals */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;
  color: #fff;
}

a {
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

.container {
  display: flex;
}

.sidebarList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}
.sidebarList .hiddenSidebar {
  margin-left: 1.5rem;
  white-space: nowrap;
}

.sidebarListItem {
  width: 100%;
  margin-bottom: 0.5rem;
}

.sidebarListItem:hover {
  background-color: #5f6368;
}

.sidebarLink {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  align-items: center;
  padding-left: 2rem;
}
.sidebarLink img {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.sidebarLink .subsIcon {
  border-radius: 50%;
}

main.content {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 450px) {
  main.content {
    padding-bottom: 7.5rem;
  }
}

.videoItem:hover {
  background-color: #202020;
}
.videoItem .videoThumbnail video {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: transform 0.3s;
}
.videoItem .videoThumbnail video:hover {
  transform: scale(2.2);
}
.videoItem .videoThumbnail .duration {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 2rem;
  background-color: #202020;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 10rem;
}
.nav__left {
  display: flex;
  align-items: center;
}
.nav__left .menuIcon {
  width: 2.5rem;
  margin-right: 2rem;
}
.nav__left .menuIcon img {
  width: 100%;
}
.nav__left .logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}
.nav__left .logo img {
  width: 8rem;
}
.nav__left .logo h1 span {
  color: #1dd320;
}
.nav__center form {
  display: flex;
  align-items: center;
  border: 0.2rem solid #5f6368;
  border-radius: 2.5rem;
  transition: border-color 0.4s;
}
.nav__center form:hover {
  border-color: #fff;
}
.nav__center form input {
  width: 40rem;
  height: 3.2rem;
  padding: 0.8rem 1rem;
  border: none;
  background-color: transparent;
  color: #fff;
}
.nav__center form .searchButton {
  width: 6rem;
  height: 3.2rem;
  border-left: solid 0.2rem #5f6368;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  transition: background-color 0.4s;
}
.nav__center form .searchButton:hover {
  background-color: #323232;
}
.nav__center form .searchButton img {
  width: 2.5rem;
  height: 2.5rem;
}
.nav__right {
  display: flex;
  align-items: center;
}
.nav__right img {
  width: 3rem;
}
.nav__right .userIcon {
  width: 3.5rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.nav__right .dropdown {
  position: relative;
  display: inline-block;
}
.nav__right .dropdown .dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: #202020;
  right: 0;
  z-index: 11;
  border: 0.1rem solid #5f6368;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.nav__right .dropdown .dropdownContent a {
  width: 100%;
  font-size: 1.7rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.nav__right .dropdown .dropdownContent a img {
  margin-right: 1rem;
}
.nav__right .dropdown .dropdownContent a:hover {
  background-color: #5f6368;
}
.nav__right .dropdown .dropdownContent.show {
  opacity: 1;
  pointer-events: all;
}
.nav__right .signInBtn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 0.2rem solid #1dd320;
  color: #1dd320;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
}
.nav__right .signInBtn img {
  width: 2.5rem;
  border: 0.2rem solid #1dd320;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media (max-width: 950px) {
  .nav__left .logo {
    font-size: 2rem;
  }
  .nav__left .logo img {
    width: 5rem;
  }

  .nav__center form input {
    width: 30rem;
  }

  .nav__right .signInBtn {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  .nav__center form input {
    width: 25rem;
  }
}
@media (max-width: 750px) {
  .nav__left .logo {
    font-size: 1.5rem;
  }
  .nav__left .logo img {
    width: 3rem;
  }

  .nav__center form input {
    width: 20rem;
  }

  .nav__right .signInBtn {
    padding: 0.3rem 0.7rem;
    font-size: 1.3rem;
  }
  .nav__right .signInBtn img {
    width: 2rem;
  }
}
@media (max-width: 600px) {
  .nav__left .logo {
    font-size: 1rem;
  }

  .nav__center form input {
    width: 15rem;
  }
  .nav__center form .searchButton {
    width: 4rem;
    height: 3rem;
  }
  .nav__center form .searchButton img {
    width: 2rem;
    height: 2rem;
  }

  .nav__right .uploadBtn {
    display: none;
  }
}
@media (max-width: 500px) {
  .nav__left .menuIcon {
    margin-right: 1rem;
  }

  .nav__center form input {
    width: 12rem;
  }

  .nav__right .signInBtn {
    font-size: 1.1rem;
  }
  .nav__right .signInBtn img {
    width: 1.5rem;
  }
}
@media (max-width: 450px) {
  .nav {
    padding: 1rem;
  }
  .nav__left .logo h1,
.nav__left .menuIcon {
    display: none;
  }
}
@media (max-width: 350px) {
  .nav__center form input {
    width: 10rem;
  }
  .nav__center form .searchButton {
    width: 2.5rem;
    height: 2.5rem;
  }
  .nav__center form .searchButton img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/* sidebar */
.sidebar {
  width: 7.5rem;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  height: calc(100vh - 10rem);
  overflow: hidden;
  flex-shrink: 0;
  padding-top: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;
  left: 0;
  transition: width 0.2s ease-in-out;
}
.sidebar hr {
  width: 90%;
  margin: 0.5rem 0;
  border: none;
  height: 0.1rem;
  background-color: #1dd320;
}
.sidebar .hiddenSidebar {
  opacity: 0;
  width: 0;
  transition: opacity 0.2s ease-in-out;
}
.sidebar.open {
  width: 20rem;
}
.sidebar.open .hiddenSidebar {
  opacity: 1;
  width: 100%;
}
.sidebar__top, .sidebar__middle, .sidebar__bottom {
  width: 100%;
}
.sidebar__middle {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
  scrollbar-color: #1dd320 #202020;
  scrollbar-width: thin;
}
.sidebar__middle h3 {
  font-size: 2rem;
  text-transform: uppercase;
  padding-left: 2rem;
  margin: 0.5rem 0;
}
.sidebar__middle::-webkit-scrollbar {
  width: 0.5rem;
}
.sidebar__middle::-webkit-scrollbar-track {
  background: #202020;
}
.sidebar__middle::-webkit-scrollbar-thumb {
  background: #1dd320;
}

@media (max-width: 450px) {
  .sidebar {
    display: none;
  }
}
/* mob nav */
.mobNav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #202020;
  z-index: 10;
  width: 100%;
  display: none;
}
.mobNav .mobNavList {
  display: flex;
}
.mobNav .sidebarLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

@media (max-width: 450px) {
  .mobNav {
    display: block;
  }
}
@media (max-width: 260px) {
  .mobNav p {
    display: none;
  }
}
/* home page */
.tags {
  width: 100%;
  background-color: #202020;
  border-top: 0.1rem solid #5f6368;
  border-bottom: 0.1rem solid #5f6368;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
  font-size: 1.4rem;
  overflow-x: auto;
  scrollbar-color: #1dd320 #202020;
  scrollbar-width: thin;
}
.tags a {
  padding: 0.5rem 1rem;
  background-color: #181818;
  border-radius: 1.6rem;
  margin: 0 0.5rem;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out;
}
.tags a:hover {
  background-color: #5f6368;
}
.tags::-webkit-scrollbar {
  height: 0.6rem;
}
.tags::-webkit-scrollbar-track {
  background: #202020;
}
.tags::-webkit-scrollbar-thumb {
  background: #1dd320;
}

.listContent {
  width: 100%;
  padding: 2rem 2rem 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-column-gap: 1.6rem;
  grid-row-gap: 3rem;
}
.listContent .videoItem {
  border-radius: 1rem;
  overflow: hidden;
}
.listContent .videoItem .videoThumbnail {
  height: 21rem;
  overflow: hidden;
  position: relative;
}
.listContent .videoItem .videoDetails {
  display: flex;
  align-items: flex-start;
  margin-top: 0.7rem;
  padding: 0.5rem;
}
.listContent .videoItem .videoDetails img {
  width: 3.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.listContent .videoItem .videoDetails .videoInfo {
  font-size: 1.4rem;
}
.listContent .videoItem .videoDetails .videoInfo a {
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .listContent {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
@media (max-width: 450px) {
  .listContent {
    padding: 1rem;
  }
}
@media (max-width: 350px) {
  .listContent {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
/* trending page */
.trendingContent {
  max-width: 85rem;
  margin: 0 auto;
}
.trendingContent h2 {
  font-size: 3rem;
  margin: 1rem;
}
.trendingContent .videoItem {
  width: 100%;
  height: 16rem;
  padding: 1rem;
  display: flex;
}
.trendingContent .videoItem .videoThumbnail {
  width: 30%;
  position: relative;
  margin-right: 1rem;
  overflow: hidden;
}
.trendingContent .videoItem .videoDetails {
  width: 70%;
  overflow: hidden;
}
.trendingContent .videoItem .videoDetails .videoTitle {
  font-size: 2.5rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.trendingContent .videoItem .videoDetails p {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}

@media (max-width: 750px) {
  .trendingContent .videoItem .videoThumbnail {
    width: 40%;
  }
  .trendingContent .videoItem .videoDetails {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .trendingContent .videoItem .videoThumbnail {
    width: 50%;
  }
  .trendingContent .videoItem .videoDetails {
    width: 50%;
  }
  .trendingContent .videoItem .videoDetails p {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  .trendingContent .videoItem {
    flex-direction: column-reverse;
    height: 100%;
    text-align: center;
    border-top: 0.1rem solid #5f6368;
  }
  .trendingContent .videoItem .videoThumbnail {
    width: 100%;
    height: 20rem;
  }
  .trendingContent .videoItem .videoDetails {
    width: 100%;
  }
  .trendingContent .videoItem .videoDetails .description {
    display: none;
  }
}
/* subscription page */
.subscribeContent h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #5f6368;
}
@media (max-width: 350px) {
  .subscribeContent h2 {
    font-size: 2rem;
  }
}
.subscribeContent .listContent {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.subscribeContent .listContent .videoItem .videoThumbnail {
  height: 15rem;
}/*# sourceMappingURL=style.css.map */