/* trending page */
@use "../abstracts" as a;

.trendingContent {
  max-width: 85rem;
  margin: 0 auto;

  h2 {
    font-size: 3rem;
    margin: 1rem;
  }

  .noTrending {
    text-align: center;
  }

  .videoItem {
    width: 100%;
    height: 16rem;
    padding: 1rem;
    display: flex;

    .videoThumbnail {
      width: 30%;
      position: relative;
      margin-right: 1rem;
      overflow: hidden;
    }

    .videoDetails {
      width: 70%;
      overflow: hidden;

      .videoTitle {
        font-size: 2.5rem;
        display: inline-block;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.5rem;
        color: a.$grey-font;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .trendingContent .videoItem {
    .videoThumbnail {
      width: 40%;
    }

    .videoDetails {
      width: 60%;
    }
  }
}

@media (max-width: 600px) {
  .trendingContent .videoItem {
    .videoThumbnail {
      width: 50%;
    }

    .videoDetails {
      width: 50%;

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .trendingContent .videoItem {
    flex-direction: column-reverse;
    height: 100%;
    text-align: center;
    border-top: 0.1rem solid a.$border-color;

    .videoThumbnail {
      width: 100%;
      height: 20rem;
    }

    .videoDetails {
      width: 100%;

      .description {
        display: none;
      }
    }
  }
}
