/* video page */
@use "../abstracts" as a;

.videoContent {
  display: flex;
  padding: 2rem;

  .playVideo {
    flex: 1;

    video {
      width: 100%;
      max-height: 72rem;
    }

    .videoTags {
      margin: 0.5rem 0;

      a {
        font-size: 1.4rem;
        margin-right: 0.2rem;
        color: a.$green;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #fff;
        }
      }
    }

    .videoInfo {
      width: 100%;
      padding: 0.5rem 0 1rem 0;

      h1 {
        font-size: 2.5rem;
      }

      .videoInfoBottom {
        @include a.flex(center, space-between);
        flex-wrap: wrap;

        .viewCount {
          font-size: 1.6rem;
          color: a.$grey-font;
        }

        .controls {
          display: flex;

          button {
            display: flex;
            align-items: center;
            margin-right: 1rem;
            color: #fff;
            font-size: 1.5rem;

            img {
              height: 3rem;
              width: 3rem;
              margin-right: 0.3rem;
            }
          }
        }
      }
    }

    hr {
      border: none;
      height: 0.1rem;
      background-color: a.$green;
    }

    .profilePicture {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      padding: 0.1rem;
      border: 0.15rem solid a.$green;
      margin-right: 1rem;
    }

    .publisher {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      div {
        flex: 1;
      }

      p {
        font-size: 1.8rem;
        font-weight: 600;
      }

      span {
        font-size: 1.3rem;
        color: a.$grey-font;
      }

      .subscribeBtn {
        background-color: a.$green;
        color: #000;
        padding: 0.8rem 3rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        transition: filter 0.2s ease-in-out;

        &:hover {
          filter: brightness(85%);
        }
      }
    }

    .videoDescription {
      padding-left: 5rem;
      margin: 1rem 0 2rem 0;
      font-size: 1.4rem;
    }

    .commentSection {
      .commentHeader {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        border-bottom: 0.1rem solid a.$border-color;

        .commentCount {
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }

        .commentForm {
          display: flex;
          align-items: center;

          .commentBody {
            width: 100%;
            border: none;
            background-color: transparent;
            font-size: 1.4rem;
            color: #fff;
            resize: none;
          }

          .postComment {
            background-color: a.$border-color;
            padding: 0.7rem 1.5rem;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            color: #fff;
            text-transform: uppercase;
            margin-left: 1rem;
            letter-spacing: 0.1rem;
            transition: filter 0.2s ease-in-out;

            &:hover {
              filter: brightness(85%);
            }
          }
        }
      }

      .comments {
        .commentWrapper {
          display: flex;
          margin: 2rem 0;

          .profilePicture {
            width: 3rem;
            height: 3rem;
          }

          .comment {
            h3 {
              font-size: 1.6rem;
              margin-bottom: 0.2rem;

              span {
                font-size: 1.2rem;
                color: a.$grey-font;
              }
            }

            .postedCommentBody {
              font-size: 1.6rem;
            }

            .controls {
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              margin-top: 1rem;

              button {
                display: flex;
                align-items: center;
                margin-right: 1.5rem;

                img {
                  width: 2rem;
                  height: 2rem;
                  margin-right: 0.5rem;
                }

                &.viewReplies {
                  color: a.$green;
                  transition: filter 0.2s ease-in-out;

                  &:hover {
                    filter: brightness(120%);
                  }
                }
              }
            }
          }
        }
      }
    }

    .commentsOff {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      font-size: 1.8rem;
    }
  }

  .suggestions {
    max-width: 42.5rem;
    flex-grow: 1;
    height: 100%;
    padding-left: 2rem;

    .videoItem {
      display: flex;
      margin-bottom: 2rem;

      .videoThumbnail {
        width: 22rem;
        height: 12rem;
        overflow: hidden;
        position: relative;
      }

      .videoDetails {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;

        .videoTitle {
          font-size: 1.7rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        .videoChannel {
          font-size: 1.5rem;
          margin-bottom: 0.2rem;
        }

        a {
          transition: filter 0.2s ease-in-out;

          &:hover {
            filter: brightness(85%);
          }
        }

        p {
          font-size: 1.4rem;
          color: a.$grey-font;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .videoContent {
    flex-direction: column;

    .suggestions {
      max-width: 100%;
      padding-left: 0;
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: 0.1rem solid a.$green;
    }
  }
}

@media (max-width: 600px) {
  .videoContent {
    .playVideo {
      .publisher {
        flex-wrap: wrap;

        .subscribeBtn {
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
        }
      }

      .commentSection .commentHeader .commentForm .postComment {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
      }
    }

    .suggestions .videoItem .videoDetails {
      .videoTitle {
        font-size: 1.3rem;
      }

      .videoChannel {
        font-size: 1.2rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .videoContent {
    .playVideo .videoDescription {
      padding-left: 0;
      font-size: 1.4rem;
    }

    .suggestions .videoItem .videoThumbnail {
      width: 18rem;
      height: 10rem;
    }
  }
}

@media (max-width: 350px) {
  .videoContent {
    .playVideo .publisher {
      p {
        font-size: 1.5rem;
      }
      span {
        font-size: 1.1rem;
      }
    }

    .suggestions .videoItem .videoThumbnail {
      width: 15rem;
      height: 8rem;
    }
  }
}
