/* home page */
@use "../abstracts" as a;

.tags {
  width: 100%;
  background-color: a.$nav-bg;
  border-top: 0.1rem solid a.$border-color;
  border-bottom: 0.1rem solid a.$border-color;
  @include a.flex(center, flex-start);
  padding: 1rem;
  font-size: 1.4rem;
  overflow-x: auto;
  scrollbar-color: a.$green a.$nav-bg;
  scrollbar-width: thin;

  a {
    padding: 0.5rem 1rem;
    background-color: a.$body-bg;
    border-radius: 1.6rem;
    margin: 0 0.5rem;
    white-space: nowrap;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: a.$border-color;
    }
  }

  &::-webkit-scrollbar {
    height: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    background: a.$nav-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: a.$green;
  }
}

.listContent {
  width: 100%;
  padding: 2rem 2rem 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-column-gap: 1.6rem;
  grid-row-gap: 3rem;

  // .videoItem {
  //   border-radius: 1rem;
  //   overflow: hidden;

  //   &:hover {
  //     background-color: a.$nav-bg;
  //   }

  //   .videoThumbnail {
  //     height: 21rem;
  //     overflow: hidden;
  //     position: relative;

  //     video {
  //       width: 100%;
  //       border-radius: 1rem;
  //       object-fit: cover;
  //       height: 100%;
  //       transition: transform 0.3s;

  //       &:hover {
  //         transform: scale(2.2);
  //       }
  //     }

  //     .duration {
  //       position: absolute;
  //       bottom: 0.5rem;
  //       right: 0.5rem;
  //       font-size: 1.4rem;
  //       background-color: rgba(0, 0, 0, 0.6);
  //       padding: 0.5rem;
  //       border-radius: 0.5rem;
  //     }
  //   }

  //   .videoDetails {
  //     display: flex;
  //     align-items: flex-start;
  //     margin-top: 0.7rem;
  //     padding: 0.5rem;

  //     img {
  //       width: 3.5rem;
  //       margin-right: 1rem;
  //       border-radius: 50%;
  //     }

  //     .videoInfo {
  //       font-size: 1.4rem;

  //       a {
  //         font-weight: 700;
  //         display: block;
  //         margin-bottom: 0.5rem;
  //       }
  //     }
  //   }
  // }

  .videoItem {
    border-radius: 1rem;
    overflow: hidden;

    .videoThumbnail {
      height: 21rem;
      overflow: hidden;
      position: relative;
    }

    .videoDetails {
      display: flex;
      align-items: flex-start;
      margin-top: 0.7rem;
      padding: 0.5rem;

      img {
        width: 3.5rem;
        margin-right: 1rem;
        border-radius: 50%;
      }

      .videoInfo {
        font-size: 1.4rem;

        a {
          font-weight: 700;
          display: block;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .listContent {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

@media (max-width: 450px) {
  .listContent {
    padding: 1rem;
  }
}

@media (max-width: 350px) {
  .listContent {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
