/* signIn / singUp page */
@use "../abstracts" as a;

.signInLoginContainer {
  @include a.flex(center, center);
  min-height: 100vh;
  padding: 1.5rem;

  .signInLoginWrapper {
    flex-grow: 0;
    width: 45rem;
    padding: 2rem 3.5rem;
    max-height: 100%;
    overflow-y: auto;
    background-color: a.$nav-bg;

    .header {
      padding: 2rem 0;

      div {
        display: flex;
        align-items: center;

        img {
          width: 4rem;
        }

        p {
          font-size: 2rem;
          font-weight: bold;

          span {
            color: a.$green;
          }
        }
      }

      h3 {
        font-size: 3rem;
        font-weight: 400;
        padding-top: 1rem;
      }

      p {
        font-size: 1.4rem;
      }
    }

    .formContainer {
      padding-top: 2.4rem;

      form {
        display: flex;
        flex-direction: column;

        .formInput {
          width: 100%;
          position: relative;
          height: 5rem;
          overflow: hidden;
          margin-bottom: 3rem;

          input {
            width: 100%;
            height: 100%;
            color: #fff;
            padding-top: 2rem;
            border: none;
            outline: none;
            background-color: a.$nav-bg;
            padding-left: 0.2rem;
            font-size: 2rem;

            &:focus + .labelName .contentName,
            &:valid + .labelName .contentName {
              transform: translateY(-150%);
              font-size: 1.4rem;
              color: a.$green;
            }

            &:focus + .labelName::after,
            &:valid + .labelName::after {
              transform: translateX(0%);
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              /* Change Autocomplete styles in Chrome*/
              -webkit-text-fill-color: #fff;
              box-shadow: 0 0 0rem 100rem a.$nav-bg inset;
              transition: background-color 5000s ease-in-out 0s;
            }
          }

          label {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 0.1rem solid a.$border-color;
            font-size: 2rem;
            padding-left: 0.5rem;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 100%;
              width: 100%;
              border-bottom: 0.3rem solid a.$green;
              transform: translateX(-100%);
              transition: all 0.3s ease;
            }

            .contentName {
              position: absolute;
              bottom: 0.5rem;
              left: 0;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }

      .formBtn {
        align-self: flex-start;
      }
    }

    a {
      font-size: 1.4rem;

      &:hover {
        color: a.$green;
      }
    }
  }
}
